table {
  width: 500px;
}

.container {
  max-width: 600px;
}

.right {
  text-align: right;
}

.horizontal-line {
  background-color: rgb(133, 133, 133);
  max-width: 600px;
  height: 1px;
  margin-bottom: 10px;
}
